.theme-light {
    --progress-green: #13bb0a;
    --progress-orange: rgb(243, 161, 9);
    --background: rgb(255, 255, 255);
    --card-primary: whitesmoke;
    --textColor: black;
    --borderColor: black;
    --shadowColor: black;
    --shadowColor2: var(--background);
    --progressBarBackground: #ddd;
}
.theme-dark {
    --progress-green: #13bb0a;
    --progress-orange: rgb(243, 161, 9);
    --background: #15202b;
    --card-primary: #15202b;
    --textColor: #dad6d6;
    --borderColor: hsl(0, 5%, 74%);
    --shadowColor: var(--background);
    --shadowColor2: #ebe36b;
    --progressBarBackground: var(--background);
}
*{
    transition: ease-in 0.5s;
}


body{
    background-color: var(--background);
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title > i{
    font-size: 5em;
    color: var(--textColor);
}

.title > h2{
    color: var(--textColor);
    text-align: center;
    font-size: 3em;
    font-family: 'Merriweather Sans', sans-serif;
}


.switch-container {
    position: relative;
    bottom: 50px;
    left: 0px;

  }
  .switch-container h1 {
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--textColor);
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 0.5em;
  }
  .switch-container button {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
  }
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 14px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--card-primary);
    border: solid 1px var(--borderColor);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0px auto -3px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background-color: var(--borderColor);
  }
  
  input:checked + .slider {
    background-color: var(--card-primary);
    border: solid 1px var(--borderColor);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #13212c;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translate(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
    background-color: var(--borderColor);
  }

  main{
    display: inline-grid;
    margin: 40px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  main > .article1{
    color: var(--textColor);
    border-radius: 5px;
    border: 1px solid;
    grid-column: 1 / 3;
    padding: 20px;
    font-size: 1.2em;
  } 

  .article1 > p span{
    color: #000000;
    font-family: monospace;
    background-color: #c9c6c6;
  }

  .log-container{
    border: 1px solid;
    border-radius: 5px;
    color: var(--textColor);
  }

#log-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.log-title{
    text-align: center;
}

.log-cell{
    display: flex;
    align-items: center;
    height: 20px;
    padding: 10px;
}

.log-cell-stat{
    font-size: 1.17em;
    font-weight: 900;
    padding-left: 5px;
    color: var(--textColor)
}

#readBooksResult{
    color:var(--progress-green)
}
#unreadBooksResult{
    color: var(--progress-orange)
}
#pagesReadResult{
    color: gray;
}

.addBook{
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

#addBook{
  font-size: 3em;
  border: 1px solid var(--background);
  height: 60px;
  width: 60px;
  background-color: var(--background);
  cursor: pointer;
}

.modal{
  border: 1px solid;
  display: block;
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
	overflow: auto;
}

.modal-content{
  background-color: #ec954e;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border: 1px solid #13212c;
  width: auto;
  height: auto;
}

.modalTopText {
	font-weight: bold;
	margin-bottom: 1rem;
	text-decoration: underline;
	font-size: larger;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
}

.close:hover,
.close:focus {
	color: rgb(255, 255, 255);
	text-decoration: none;
	cursor: pointer;
}

.modalEntryDiv > form{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	margin: 1rem;
}

.hasRead{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
	gap: 0.5em;
	margin: 1em;
}

.hasRead > input {
	align-self: flex-end;
}

.modalEntryDiv > form > input {
	width: 12vh;
	margin: 0.5em;
}

.addBookToArray{
  border: 1px solid;
  font-family: monospace;
  padding: 7px;

}

section{
  border: 1px solid;
  display: grid;
  background-color: var(--background);
  justify-content: space-around;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(10rem, 2rem));
	gap: 1rem;
}